<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516589671813-uj13tju3aca49iq51onf0llh9819ppov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516589671813-uj13tju3aca49iq51onf0llh9819ppov</string>
	<key>API_KEY</key>
	<string>AIzaSyCoj5rB6VMBdOTw_dBcvAB6bkyYczCyxxw</string>
	<key>GCM_SENDER_ID</key>
	<string>516589671813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ict.manna.Meal-Administration</string>
	<key>PROJECT_ID</key>
	<string>meal-administration</string>
	<key>STORAGE_BUCKET</key>
	<string>meal-administration.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516589671813:ios:bbf4b9abfb9802a09ba0ec</string>
	<key>DATABASE_URL</key>
	<string>https://meal-administration.firebaseio.com</string>
</dict>
</plist>